APP_NAME=SIMASFramework
APP_DEBUG=true # false, if want to production mode. true, if your application still development
BASE_URL=              #http://frameworksimas.test
DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=
DB_USER=root
DB_PASS=
JWT_KEY=